.photo-brand-content { display: flex; flex-direction: column; align-items: flex-start; white-space: nowrap; }
.photo-brand-lockup { display: block; }
.photo-brand-logo { display: inline-block; position: relative; height: 1.825em; width: 2.0771em; margin-right: 8px; vertical-align: -.5475em; overflow: visible; pointer-events: none; }
.photo-brand-logo > img { position: absolute; max-width: none; width: 107.6815967%; height: 109.8784997%; left: -3.8291947%; top: -4.9392499%; }
.photo-brand-logo[data-live-glass='true'] > img { visibility: hidden; }
.photo-brand-text { display: inline-block; }
@media (max-width: 600px) {
  .photo-brand-logo { margin-right: 4px; }
}
